@use "variables" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
  background-color: $veryDarkBlueBack;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 45rem;
  justify-content: center;
  align-items: center;
}

.calc-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 5rem;
  background-color: $keyColorCream;
  box-shadow: 0px 3px 0px hsl(28, 16%, 65%);
  border-radius: 0.5rem;
  border: none;
  color: hsl(222, 35%, 28%);
  font-size: 3.3rem;
  font-family: $leagueSpartan;
  cursor: pointer;
  padding-top: 0.5rem;
}

.calc-buttons:hover {
  background-color: hsl(30, 37%, 97%);
}

.calc-buttons:active {
  transform: scale(0.95);
}

.del-button {
  background-color: $keyBackgroundColor;
  box-shadow: 0px 3px 0px $keyShadowColor;
  color: white;
  cursor: pointer;
  font-size: 2.3rem;
}

.del-button:hover {
  background-color: hsl(225, 42%, 67%);
}

.reset-equal {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  width: 95%;
  height: 5rem;
  background-color: $keyColorCream;
  border-radius: 0.5rem;
  border: none;
  color: $veryDarkBlueToggle;
  font-size: 2rem;
  cursor: pointer;
  font-family: $leagueSpartan;
  padding-top: 0.5rem;
}

.reset-equal:active {
  transform: scale(0.97);
}

.reset-button {
  background-color: $keyBackgroundColor;
  box-shadow: 0px 3px 0px $keyShadowColor;
  color: white;
}

.reset-button:hover {
  background-color: hsl(225, 42%, 67%);
}

.equal-button {
  background-color: $keyColorRed;
  box-shadow: 0px 3px 0px $keyShadowRed;
  color: white;
}

.equal-button:hover {
  background-color: hsl(6, 97%, 66%);
}

.container-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 1rem;
  width: 95%;
  background-color: $veryDarkBlueToggle;
  border-radius: 1rem;
  padding: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-items: center;
  align-items: center;
}

.screen {
  background-color: $veryDarkBlueScreen;
  width: 95%;
  height: 12rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  color: white;
  font-size: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  // direction: ltr; // this changes how the text comes in right to left or left to right.
  padding-right: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

.calc {
  font-size: 32px;
  color: $white;
}

h1 {
  padding-left: 24rem;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 1.2rem;
  color: $white;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; // sass/scss need to use flex-end and not just end
  width: 95%;
  font-size: 1.2rem;
  gap: 1.3rem;
  padding-right: 0.8rem;
  color: white;
  padding-bottom: 0.4rem;
}

.color-slider {
  display: flex;
  position: relative;
  background: hsl(223, 35%, 22%);
  border-radius: 1rem;
  height: 23px;
  width: 60px;
  justify-content: space-around;
  cursor: pointer;
  overflow: hidden;
  color: red;
  align-items: center;
}

.color-slider input {
  display: none;
  cursor: pointer;
}

.slider-position {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  border-radius: 50%;
}

// This the position of the dot slider
.pos-1 {
  transform: translateX(-115%);
  background-color: $keyColorRed;
}

.pos-2 {
  transform: translateX(0%);
  background-color: $keyColorOrange;
}

.pos-3 {
  transform: translateX(115%);
  background-color: $keyColorCyan;
}

// Theme 2 for slider

// Theme 3 for slider
