@use "variables" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
  background-color: $veryDarkBlueBack;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 40rem;
}

.all-buttons {
  display: grid;
  background-color: $white;
  width: 8rem;
  height: 20rem;
}

.container-btn {
  width: 50rem;
  height: 40rem;
  background-color: $veryDarkBlueToggle;
  border-radius: 1rem;
}

.screen {
  background-color: $veryDarkBlueScreen;
  width: 50rem;
  height: 10rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  width: 50rem;
}
