@use "variables" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  margin: 0;
  background-color: $veryDarkBlueBack;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50rem;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.calc-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 5rem;
  background-color: $keyColorCream;
  box-shadow: 0px 3px 0px hsl(28, 16%, 65%);
  border-radius: 0.5rem;
  border: none;
  color: hsl(222, 35%, 28%);
  font-size: 3.3rem;
  font-family: $leagueSpartan;
  cursor: pointer;
  padding-top: 0.5rem;
}

@media screen and (max-width: 31.25em) {
  .calc-buttons {
    width: 85%;
    min-height: 6rem;
  }
}

.calc-buttons:hover {
  background-color: hsl(30, 37%, 97%);
}

.calc-buttons:active {
  transform: scale(0.95);
}

.del-button {
  background-color: $keyBackgroundColor;
  box-shadow: 0px 3px 0px $keyShadowColor;
  color: white;
  cursor: pointer;
  font-size: 2.3rem;
}

.del-button:hover {
  background-color: hsl(225, 42%, 67%);
}

.reset-equal {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  width: 95%;
  min-height: 5rem;
  background-color: $keyColorCream;
  border-radius: 0.5rem;
  border: none;
  color: $veryDarkBlueToggle;
  font-size: 2rem;
  cursor: pointer;
  font-family: $leagueSpartan;
  padding-top: 0.5rem;
}

@media screen and (max-width: 31.25em) {
  .reset-equal {
    min-height: 6.5rem;
  }
}

.reset-equal:active {
  transform: scale(0.97);
}

.reset-button {
  background-color: $keyBackgroundColor;
  box-shadow: 0px 3px 0px $keyShadowColor;
  color: white;
}

.reset-button:hover {
  background-color: hsl(225, 42%, 67%);
}

.equal-button {
  background-color: $keyColorRed;
  box-shadow: 0px 3px 0px $keyShadowRed;
  color: white;
}

.equal-button:hover {
  background-color: hsl(6, 97%, 66%);
}

.container-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 1rem;
  width: 95%;
  background-color: $veryDarkBlueToggle;
  border-radius: 1rem;
  padding: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 31.25em) {
  .container-btn {
    width: 70%;
  }
}

.screen {
  background-color: $veryDarkBlueScreen;
  width: 95%;
  min-width: 12rem;
  min-height: 12rem; // regular height cause problems when need to expand. use min-height.
  margin-bottom: 3rem;
  border-radius: 1rem;
  color: white;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  // text-align: end;
  word-break: break-all;
  // direction: ltr; // this changes how the text comes in right to left or left to right.
  // padding-right: 2rem;
}

@media screen and (max-width: 31.25em) {
  .screen {
    width: 70%;
  }
}

.calc-numbers {
  // position: relative;
  display: flex;
  padding-left: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

@media screen and (max-width: 31.25em) {
  .header {
    display: flex;
    justify-content: center;
  }
}

.calc {
  font-size: 32px;
  color: $white;
}

h1 {
  padding-left: 24rem;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 1.2rem;
  color: $white;
}

@media screen and (max-width: 31.25em) {
  h1 {
    padding-left: 16rem;
    padding-right: 4rem;
  }
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; // sass/scss need to use flex-end and not just end
  width: 95%;
  font-size: 1.2rem;
  gap: 1.3rem;
  padding-right: 0.8rem;
  color: white;
  padding-bottom: 0.4rem;
}

@media screen and (max-width: 31.25em) {
  .numbers {
    width: 70%;
  }
}

.color-slider {
  display: flex;
  position: relative;
  background: hsl(223, 35%, 22%);
  border-radius: 1rem;
  height: 23px;
  width: 60px;
  justify-content: space-around;
  cursor: pointer;
  overflow: hidden;
  color: red;
  align-items: center;
}

.color-slider input {
  // display: none; // causing problems when trying to hide it
  opacity: 0; // opacity was a better option for this
  cursor: pointer;
}

.slider-position {
  position: absolute;
  min-height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  border-radius: 50%;
}

// This the position of the dot slider
.pos-1 {
  transform: translateX(-115%);
  background-color: $keyColorRed;
}

.pos-2 {
  transform: translateX(0%);
  background-color: $keyColorOrange;
}

.pos-3 {
  transform: translateX(115%);
  background-color: $keyColorCyan;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  justify-self: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.5rem;
  color: rgba(241, 241, 241);
  font-weight: 700;
}

@media screen and (max-width: 31.25em) {
  .footer {
    margin-top: 1rem;
    font-size: 1.35rem;
  }
}

.footer a {
  color: $keyColorRed;
  cursor: pointer;
  margin-left: 4px;
}

.footer a:hover {
  color: chocolate;
}

// Theme 2 for slider

.theme-2 {
  .calc-buttons {
    background-color: $keyColorEgg;
    box-shadow: 0px 3px 0px $keyShadowEgg;
    color: $veryDarkYellow;
  }

  .calc-buttons:hover {
    background-color: hsl(40, 100%, 99%);
  }

  .del-button {
    background-color: $keyBackgroundColor2;
    box-shadow: 0px 3px 0px $keyShadowColor2;
    color: $white2;
  }

  .del-button:hover {
    background-color: hsl(185, 41%, 50%);
  }

  .reset-equal {
    background-color: $keyColorOrange;
    box-shadow: 0px 3px 0px $keyShadowOrange;
  }

  .reset-button {
    background-color: $keyBackgroundColor2;
    box-shadow: 0px 3px 0px $keyShadowColor2;
    color: $white2;
  }

  .reset-button:hover {
    background-color: hsl(185, 41%, 50%);
  }

  .equal-button {
    color: $white2;
  }

  .equal-button:hover {
    background-color: hsl(25, 97%, 61%);
  }

  .container-btn {
    background-color: $grayish;
  }

  .screen {
    background-color: $veryLightGray;
  }

  .calc {
    color: $veryDarkYellow;
  }

  .calc-numbers {
    color: $veryDarkYellow;
  }

  h1 {
    color: $veryDarkYellow;
  }
  .numbers {
    color: $veryDarkYellow;
  }

  .color-slider {
    background-color: $grayish;
  }

  .footer {
    color: $veryDarkYellow;
  }
}

// Theme 3 for slider
.theme-3 {
  .calc-buttons {
    background-color: $veryDarkViolet;
    color: $lightYellow;
    box-shadow: 0px 3px 0px $darkMagenta;
  }

  .calc-buttons:hover {
    background-color: hsl(268, 59%, 41%);
  }

  .del-button {
    background-color: $keyBackgroundColor3;
    color: $white3;
    box-shadow: 0px 3px 0px $keyShadowColor3;
  }

  .del-button:hover {
    background-color: hsl(281, 89%, 38%);
  }

  .reset-equal {
    background-color: $keyColorCyan;
    box-shadow: 0px 3px 0px $keyShadowCyan;
  }

  .reset-button {
    background-color: $keyBackgroundColor3;
    color: $white3;
    box-shadow: 0px 3px 0px $keyShadowColor3;
  }

  .reset-button:hover {
    background-color: hsl(281, 89%, 38%);
  }

  .equal-button {
    color: $veryDarkBlueToggle;
  }

  .equal-button:hover {
    background-color: hsl(176, 100%, 60%);
  }

  .container-btn {
    background-color: $veryDarkVioletToggle;
  }

  .screen {
    background-color: $veryDarkVioletToggle;
  }

  .calc {
    color: $lightYellow;
  }

  .calc-numbers {
    color: $lightYellow;
  }

  h1 {
    color: $lightYellow;
  }
  .numbers {
    color: $lightYellow;
  }

  .color-slider {
    background-color: $veryDarkVioletToggle;
  }
}
