// Theme 1.
// Backgrounds

$VeryDarkBlueBack: hsl(222, 26%, 31%);
$VeryDarkBlueToggle: hsl(223, 31%, 20%);
$VeryDarkBlueScreen: hsl(224, 36%, 15%);

//Keys

$KeyBackgroundColor: hsl(225, 21%, 49%); // Reset Button
$KeyShadowColor: hsl(224, 28%, 35%); // Reset Button
$KeyColorRed: hsl(6, 63%, 50%); // // Equal button, button slider
$KeyShadowRed: hsl(6, 70%, 34%);
$KeyColorCream: hsl(30, 25%, 89%);
$KeyShadowCream: hsl(28, 16%, 65%);

// Text

$VeryDarkGrayBlue: hsl(221, 14%, 31%);
$White: hsl(0, 0%, 100%);

// Theme 2
// Background 2

$LightGrayBackground: hsl(0, 0%, 90%);
$Grayish: hsl(0, 5%, 81%);
$VeryLightGray: hsl(0, 0%, 93%);

// Keys 2

$KeyBackgroundColor2: hsl(185, 42%, 37%);
$KeyShadowColor2: hsl(185, 58%, 25%);
$KeyColorOrange: hsl(25, 98%, 40%);
$KeyShadowOrange: hsl(25, 99%, 27%);
$KeyColorEgg: hsl(45, 7%, 89%);
$KeyShadowEgg: hsl(35, 11%, 61%);

// Text 2

$VeryDarkYellow: hsl(60, 10%, 19%);
$White2: hsl(0, 0%, 100%);

// Theme 3
// Backgrounds 3

$VeryDarkVioletBack: hsl(268, 75%, 9%);
$VeryDarkVioletToggle: hsl(268, 71%, 12%);

// Keys 3

$KeyBackgroundColor3: hsl(281, 89%, 26%);
$KeyShadowColor3: hsl(285, 91%, 52%);
$KeyColorCyan: hsl(176, 100%, 44%);
$KeyShadowCyan: hsl(177, 92%, 70%);
$VeryDarkViolet: hsl(268, 47%, 21%);
$DarkMagenta: hsl(290, 70%, 36%);

// Text

$LightYellow: hsl(52, 100%, 62%);
$VeryDarkBlue: hsl(198, 20%, 13%);
$White3: hsl(0, 0%, 100%);
